node_modules
.DS_Store
dist
*.log
.env
*.tsbuildinfo
temp
.eslintcache
.cache
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
package.tgz
coverage
test-reports
.dccache